<header class="p-3 bg-dark text-white mb-4">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="/station-show" class="nav-link px-2 text-white">Station anzeigen</a></li>
            <li><a href="/station-query" class="nav-link px-2 text-white">Station abfragen</a></li>
            <li><a href="/station-compare" class="nav-link px-2 text-white">Vergleich mit Konfigurationsdatei</a></li>
        </ul>
    </div>
</header>