<!DOCTYPE html>
<html lang="en">
	<head><%- include ('partials/head', {titlePage:"Station abfragen"}) %></head>

  <body class="container">        
    <header><%- include ('partials/header') %></header>  
    <main>    
      <p><%= textIntro %></p>
      <p>station comp </p>       
      
    </main>      
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>